*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    list-style: none;
}

:root{
    --background-color: #005A63;
    --text-color-primary: #fff;
    --text-color-secondary: #FFDDD2;
    --text-color-tertiary: #000000;
    --blur: #252525;
    --highlight-color: rgba(129, 127, 127, 0.2);
    --blur-secondary: rgba(0, 0, 0, 0.20);
    --button-hover-color: rgba(0, 90, 99, 0.39);
}

body{
    background-color: var(--background-color);
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: top;
}

header{
    position: fixed;
    width: 100vw;
    top: 0;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between; /*fica um em cada canto*/
    align-items: center;
    z-index: 6;
}

header nav ul li{
    font-family: "MuseoModerno", sans-serif;
    color: var(--background-color);
    font-weight: 100;
    font-size: 30px;
}

.img-bg{
    width: 50%;
    height: 100vh;
    z-index: 5;
    position: absolute;
    left: 0;
    top: 0;
}
form{
    width: 400px;
    display: flex;
    justify-content: flex-start;
    margin-left: 100%;
    margin-top: 40%;
    flex-direction: column;
    font-size: 22px;
    font-weight: 700;
    gap: 55px;
    color: var(--text-color-secondary);
}

form h1{
    font-size: 60px;
    letter-spacing: 7px;
    font-weight: 700;
    color: var(--text-color-primary);
    
}

form div{
    position: relative;
    display: flex;
    align-items: center;
}

div input{
    width: 100%;
    max-width: 400px;
    height: 30px;
    border:none;
    background: none; 
    border-bottom: 1px solid var(--text-color-secondary);
    outline: none;
    color:var(--text-color-primary);
    cursor: pointer;
    position: absolute;
}

div input::placeholder{
    color: var(--text-color-primary);
    font-weight: 300;
    font-size: 18px;
}

div .icone{
    position: absolute;
    right: 0;    
}

.box-btn{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none ;
}

.btn-login{
    display: flex;
    width: 140px;
    height: 45px;
    border: none;
    border-radius: 10px;
    font-size: 25px;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    background-color: var(--text-color-secondary);
    color: var(--background-color);
    box-shadow: 0px 0px 23px -4px var(--blur);
    text-decoration: none;
    cursor: pointer;
}

.txt-1{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.txt-1 p{
    color: var(--text-color-primary);
    font-weight: 300;
    font-size: 19px;

}

.txt-1 p a{
    text-decoration: none;
    color: var(--text-color-secondary);
}

.redes{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.redes a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    border-radius: 50%;
    transition: all 0.2s ;
}

.redes ion-icon {
    font-size: 48px;
    color: var(--text-color-secondary);
}

.redes a:hover{
    background-color: var(--highlight-color);
    border-radius: 50%;
}

/* Responsividade tela de Login */

@media (max-width: 1024px){
    .img-bg{
    width: 50%;
    height: 100vh;
    z-index: 5;
    position: absolute;
    left: 0;
    top: 0;
}

form{
    width: 400px;
    margin-left: 70%;
    font-size: 20px;
}

form h1{
    font-size: 40px;
}

div input{
    width: 300px;
    height: 30px;
}

div input::placeholder{
    color: var(--text-color-primary);
    font-weight: 300;
    font-size: 16px;
}

div .icone{
    right: 25%;    
}

.box-btn{
    margin-right: 25%;
}

.btn-login{
    width: 120px;
    height: 40px;
    font-size: 20px;
    
}

.txt-1{
    margin-right: 25%;
}

.txt-1 p{
    font-size: 16px;

}

hr{
    width: 300px;
}

.redes{
    margin-right: 25%;
}

.redes ion-icon {
    font-size: 38px;
}
}

@media (max-width: 768px){

form {
  width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  font-size: 30px;
  margin-top: 40%;
}


.img-bg{
    opacity: 0;
}

header nav ul li{
    color: var(--text-color-primary );
}


form h1{
    display: flex;
    margin-left: 25%;
    font-size: 60px;
    align-items: center;
}

div input{
    width: 300px;
    height: 30px;
}

div input::placeholder{
    color: var(--text-color-primary);
    font-weight: 300;
    font-size: 20px;
}

div .icone{
    right: 25%;    
}

.box-btn{
    margin: auto;
}

.btn-login{
    width: 140px;
    height: 45px;
    font-size: 25px;
    
}

.txt-1{
    margin: auto;
}

.txt-1 p{
    font-size: 20px;

}

hr{
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.redes{
    margin-top: -10%;
    margin: auto;
}

.redes ion-icon {
    font-size: 38px;
}

}

@media (max-width: 480px){

svg path{
    opacity: 0;
}


form {
  width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  margin-left: 20%;
  margin-top: 40%;
  
}

header{
    justify-content: center;
    align-items: center;
    margin-left: 22%;
}

.img-bg{
    opacity: 0;
}

header nav ul li{
    color: var(--text-color-primary );
    margin: auto;
}

form h1{
    display: flex;
    margin-left: 20%;
    font-size: 40px;
    align-items: center;
}

div input{
    max-width: 300px;
    height: 30px;
}

div input::placeholder{
    color: var(--text-color-primary);
    font-weight: 300;
    font-size: 16px;
}

div .icone{
    left: 70%;    
}

.box-btn{
    margin-right: 45%;
}

.btn-login{
    width: 120px;
    height: 40px;
    font-size: 20px;
    
}

.txt-1{
    margin-right: 35%;
}

.txt-1 p{
    font-size: 16px;

}

hr{
    width: 300px;
    margin-right: 35%;
}

.redes{
    margin-right: 35%;
    margin-top: -10%;
}

.redes ion-icon {
    font-size: 38px;
}
}

@media (max-width: 360px){
body{
    overflow: hidden;
}

header{
    justify-content: center;
    align-items: center;
    margin-left: 42%;
}

form {
  width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  margin-left: 32%;
  margin-top: 40%;
}


.img-bg{
    opacity: 0;
}

header nav ul li{
    color: var(--text-color-primary );
}

form h1{
    display: flex;
    margin-left: 20%;
    font-size: 40px;
    align-items: center;
}

div input{
    max-width: 300px;
    height: 30px;
}

div input::placeholder{
    color: var(--text-color-primary);
    font-weight: 300;
    font-size: 16px;
}

div .icone{
    left: 70%;    
}

.box-btn{
    margin-left:25%;
}

.btn-login{
    width: 120px;
    height: 40px;
    font-size: 20px;
    
}

.txt-1{
    margin-right: 35%;
}

.txt-1 p{
    font-size: 16px;

}

hr{
    width: 300px;
    margin-right: 35%;
}

.redes{
    margin-right: 35%;
    margin-top: -10%;
}

.redes ion-icon {
    font-size: 38px;
}
}
@media (max-width: 1366px){

}
/*-----------------------------------------------------------------------------------------------------------------------------------------------*/
/* TELA DE CADASTRO */
.principal{
    display: flex;
    justify-content:flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 50vw;
    height: 80vh;
    margin-top: 15vh;
    background-color: transparent;
    margin-left: 40%;
    padding: 0;
}

.principal h1{
    width: 100%;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: var(--text-color-primary);
    margin-left: 40px;
    margin-bottom: 40px;

}

.form-cadastro{
    all: unset;
    display: flex;
    background-color: transparent;
    width: 100%;
    /* min-height: 100%; */
    margin: 0;
    padding: 0;
    gap: 20px;
    align-items: start;
    justify-content: start;
    text-align: start;
}

.grupo-esquerdo1, 
.grupo-direita1{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 50%;
    height: 70%;
    background-color: transparent;
    margin: 0;
    padding: 0;
}

.box{
    margin: 0;
    padding: 0;
    display: flex;
    width: 300px;
    color: var(--background-color);
    gap: 50px;
}

.box input{
    margin: 0;
    padding: 0;
    border-color: var(--text-color-secondary);
    color: var(--text-color-primary);
}

.box input::placeholder{
    margin: 0;
    padding: 0;
    color: var(--text-color-secondary);
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
}

.box label{
    margin: 0;
    padding: 0;
    margin-bottom: 60px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: var(--text-color-primary);
}

.box ion-icon{
    font-size: 16px;
    color: var(--text-color-secondary);
}

.box-cadastrar{
    display: flex;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 22px;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.btn-cadastrar{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--text-color-secondary);
    width: 180px;
    height: 50px;
    border: none;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 25px;
    text-decoration: none;
    color: var(--background-color);
    cursor: pointer;
}


/* ----------------------- HOME ------------------------------------------ */

.menu-lateral{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    width: 10px;
    height: 100vh;
    color: var(--text-color-primary);
    background-color: var(--background-color);
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    z-index: 4;
    transition: all 0.5s ease-in-out;
}

.menu-lateral.active{
    z-index: 10;
}

.menu-lateral ion-icon{
    color: var(--text-color-primary);
    font-size: 40px;
    font-weight: 0; 
}

.menu-lateral ul{
    list-style-type: none;
    padding: 0;
    margin-top: 100px;
}

.menu-lateral ul li{
    padding: 30px 30px;
    transition: all 0.5s;
}

.menu-lateral.active ul li:hover {
    background-color: rgba(189, 189, 189, 0.5);
    width: 300px;
    margin-left: 30px;
    border-radius: 50px;
}


.menu-lateral ul li a{
    text-decoration: none;
    color: var(--background-color);
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 20px;
    transition: all 0.5s ease-in-out;
    
}

.menu-lateral.active ul li a{
    color: var(--text-color-primary);
}

.botao-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 50px;
    height: 50px;
    font-size: 70px;
    font-weight: 700;
    top:10px;
    left: 30px;
    background: transparent;
    border: none;
    color: var(--text-color-primary);
    outline: none;
    cursor: pointer;
    z-index: 5;
}

.content{
    position: absolute;
    display: flex;
    right: 0;
    height: 100vh;
    width: 92vw;
    background-color: var(--text-color-primary);
    border-top-left-radius: 20px;
    z-index: 6;
    transition: all 0.5s ease-in-out;
}

.content.active{
    width: 83vw;
}

.nav-pesquisa{
    position: fixed;
    display: flex;
    justify-content:space-between;
    padding: 30px 50px;
    top: 0;
    width: 90%;
    z-index: 8;
    transition: all 0.5s ease-in-out;
}

.nav-pesquisa.active{
    width: 80%;
}

.grupo-pesquisa {
  display: flex;
  align-items: center;
  gap: 20px; /* diminui a distância entre eles */
}

.inputs-pesquisa{
    all: unset;
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;
    width: 300px;
    color:var(--text-color-tertiary);
    font-family: 'Inter', sans-serif;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.20);
}

.inputs-pesquisa ion-icon{
    color: var(--background-color);
    align-items: center;
    font-size: 20px;
    z-index: 9;
    padding: 0 20px;
}

.inputs-pesquisa input{
    color: var(--text-color-tertiary);
    border: none;
    background-color: var(--text-color-primary);
    border-radius: 5px;
    width: 300px;
    padding: 0 50px;
    height: 35px;
    
}

.inputs-pesquisa input::placeholder{
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    color: var(--text-color-tertiary);
}

.filtro{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 100px;
    text-align: center;
    gap: 10px;
    padding-right: 10px;
    background-color: var(--text-color-primary);
    color: var(--background-color);
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 12px var(--blur-secondary);
    cursor: pointer;
    transition: all 0.6s ease-in-out;
}

.filtro ion-icon{
    font-size: 20px;
}

.filtro:hover{
    background-color: var(--button-hover-color);
    color: var(--text-color-tertiary);
}

.professores{
    display: flex;
    justify-content:flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 50%;
    margin-top: 4%;
    background-color: transparent;
    margin-left: auto;
    padding: 0;
}

.professores h1{
    padding: 40px 0;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 22px;
    color: var(--background-color);
    width: 100%;
    text-align: center;
}

.cadastro-professores{
    all: unset;
    display: flex;
    background-color: transparent;
    width: 100%;
    /* min-height: 100%; */
    margin: 0;
    padding: 0;
    gap: 20px;
}

.grupo-esquerdo, 
.grupo-direita{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
    height: 70%;
    background-color: transparent;
}

.box2{
    display: flex;
    width: 300px;
    color: var(--background-color);
}

.box2 input{
    border-color: var(--background-color);
    color: var(--text-color-tertiary);
}

.box2 input::placeholder{
    color: var(--background-color);
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
}

.box2 label{
    margin-bottom: 60px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 20px;
}

.box2 ion-icon{
    font-size: 20px;
}

.professores p{
    margin-bottom: 10px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: var(--background-color);
    width: 100%;
    text-align: center;
}

.btns-imagem{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    text-align: center;
    width: 100%;
    height: 50px;
}

.btn-camera{
    display: flex;
    text-align: left;
    width: 150px;
    height: 60px;
    margin-left: 30%;
    cursor: pointer;
}

.btn-camera input{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: none;
    height: 50px;
    width: 130px;
    border-radius: 5px;
}

.btn-camera ion-icon{
    margin-left: 33%;
    margin-top: 10px;
    color: var(--text-color-secondary);
    font-size: 30px;
    z-index: 9;
}

input[type="file"]::-webkit-file-upload-button{
    background-color: var(--background-color);
    align-items: center;
    border: none;
    color: var(--text-color-primary);
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    width: 150px;
    height: 500px;
}

.btn-camera2{
    display: flex;
    text-align: left;
    width: 150px;
    height: 60px;
    margin-left: 1%;
    cursor: pointer;
}

.btn-camera2 input{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: none;
    height: 50px;
    width: 130px;
    border-radius: 5px;
}

.btn-camera2 ion-icon{
    margin-left: 33%;
    margin-top: 10px;
    color: var(--text-color-secondary);
    font-size: 30px;
    z-index: 9;
}

.salvar{
    display: flex;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 22px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.btn-salvar-pro{
    padding: 10px 0;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 25px;
    border: none;
    border-radius: 10px;
    background-color: var(--background-color);
    color: var(--text-color-secondary);
    width: 25%;
    height: 50px;
    margin-top: 10px;
    text-align: center;
    cursor: pointer;
}

/* Tela Editar Dados */

.alterar{
    display: flex;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 22px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.btn-alterar-pro{
    padding: 10px 0;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 25px;
    border: none;
    border-radius: 10px;
    background-color: var(--background-color);
    color: var(--text-color-secondary);
    width: 25%;
    height: 50px;
    margin-top: 10px;
    text-align: center;
    cursor: pointer;
}